<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>160605663342-euh2i5kt6a85rmg1dg5t398nnfnuko4e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.160605663342-euh2i5kt6a85rmg1dg5t398nnfnuko4e</string>
	<key>API_KEY</key>
	<string>AIzaSyBODouRwyAGEF3h5AmxvZRQraxrbrPHNa4</string>
	<key>GCM_SENDER_ID</key>
	<string>160605663342</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sample.flutterAppMvvm</string>
	<key>PROJECT_ID</key>
	<string>fluttersamplemvvm</string>
	<key>STORAGE_BUCKET</key>
	<string>fluttersamplemvvm.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:160605663342:ios:fac9b902a28bcc6d49767f</string>
</dict>
</plist>